.simple {
    border: 1px dotted #AAA;
    overflow-x: scroll;
}
.simple td
{
    text-align: left;
    padding: 2px
}  
.simple th
{
    text-align: left;
    background: #DDD;
    padding: 2px
}
.simple input[type="number"]
{
    width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.smallBox
{
    width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
#itemTable
{
    border: none;
    border-bottom: 1px dotted #DDD;
}
#itemTable td:nth-child(9) {
 border-right:1px dotted #AAA;
}
